argo:
  namespace: argocd
  project: default
  server: https://kubernetes.default.svc
  sourceRepo:
    url: https://github.com/SJoon99/SandBox-Infra
    branch: main

applications:
  cluster-config:
    enabled: true
    namespace: default
    syncWave: "-3"
    source:
      path: argocd/apps/00-infra/cluster-config

  argocd:
    enabled: true
    namespace: argocd
    syncWave: "0"
    source:
      chart: argo-cd
      repoURL: https://argoproj.github.io/argo-helm
      targetRevision: 9.0.1
      helm:
        parameters:
          - name: operatorNamespace
            value: argocd
        valueFiles:
          - argocd/apps/00-infra/argo/values.yaml



  # rook-ceph-crds:
  #   enabled: true
  #   namespace: rook-ceph
  #   syncWave: "-1"
  #   source:
  #     path: apps/01-storage/rook-ceph/rook-ceph-crds

  cert-manager:
    enabled: true
    namespace: cert-manager
    syncWave: "-1"
    source:
      chart: cert-manager
      repoURL: https://charts.jetstack.io
      targetRevision: v1.19.1
      helm:
        valueFiles:
          - argocd/apps/00-infra/cert-manager/base/values.yaml

  cert-manager-certificate:
    enabled: true
    namespace: default
    syncWave: "0"
    source:
      path: argocd/apps/00-infra/cert-manager/certificate

  cilium:
    enabled: true
    namespace: kube-system
    syncWave: "1"
    source:
      path: argocd/apps/00-infra/cilium

  gpu-operator:
    enabled: true
    namespace: gpu-operator
    syncWave: "5"
    source:
      chart: gpu-operator
      repoURL: https://helm.ngc.nvidia.com/nvidia
      targetRevision: v25.3.2
      helm:
        parameters:
          - name: operatorNamespace
            value: gpu-operator
        valueFiles:
          - argocd/apps/02-compute/gpu-operator/values.yaml
  
  rook-ceph-operator:
    enabled: true
    namespace: rook-ceph
    syncWave: "10"
    source:
      chart: rook-ceph  
      repoURL: https://charts.rook.io/release
      targetRevision: v1.18.2 
      helm:
        parameters:
          - name: operatorNamespace
            value: rook-ceph
        valueFiles:
          - argocd/apps/01-storage/rook-ceph/rook-ceph-operator/values.yaml
    
    syncOptions: 
      - ServerSideApply=true
      - Replace=true
    
    ignoreDifferences:
      - group: apiextensions.k8s.io
        kind: CustomResourceDefinition
        name: operatorconfigs.csi.ceph.io
        jsonPointers:
          - /metadata/annotations
          - /metadata/labels
          - /spec/conversion/webhook/clientConfig/caBundle
      - group: apiextensions.k8s.io
        kind: CustomResourceDefinition
        name: drivers.csi.ceph.io
        jsonPointers:
          - /metadata/annotations
          - /metadata/labels
          - /spec/conversion/webhook/clientConfig/caBundle

  rook-ceph-cluster:
    enabled: true
    namespace: rook-ceph
    syncWave: "15"
    source:
      chart: rook-ceph-cluster  
      repoURL: https://charts.rook.io/release
      targetRevision: v1.18.2
      helm:
        parameters:
          - name: operatorNamespace
            value: rook-ceph
        valueFiles:
          - argocd/apps/01-storage/rook-ceph/rook-ceph-cluster/values.yaml
  
  rook-ceph-resources:
    enabled: true
    namespace: rook-ceph
    syncWave: "20"
    source:
      path: argocd/apps/01-storage/rook-ceph/rook-ceph-resources

  # jupyter-gpu:
  #   enabled: true
  #   namespace: jupyter
  #   syncWave: "30"
  #   source:
  #     path: argocd/apps/03-platform/jupyter-gpu

  postgresql-operator:
    enabled: true
    namespace: postgresql
    syncWave: "35"
    source:
      chart: cloudnative-pg
      repoURL: https://cloudnative-pg.github.io/charts
      targetRevision: 0.26.1
      helm:
        valueFiles:
          - argocd/apps/03-platform/postgresql/operator/values.yaml
    syncOptions: 
      - ServerSideApply=true
      - Replace=true
    ignoreDifferences:
      - group: apiextensions.k8s.io
        kind: CustomResourceDefinition
        name: poolers.postgresql.cnpg.io
        jsonPointers:
          - /metadata/annotations
  
  postgresql-cluster:
    enabled: true
    namespace: postgresql
    syncWave: "36"
    source:
      path: argocd/apps/03-platform/postgresql/cluster


  
  # Rucio:
  #   enabled: true
  #   namespace: rucio
  #   syncWave: "40"
  #   source:
  #     chart: rucio
  #     repoURL: https://rucio.github.io/helm-charts/
  #     targetRevision: 0.5.3
  #     helm:
  #       valueFiles:
  #         - argocd/apps/03-platform/rucio/values.yaml

  cluster-service:
    enabled: true
    namespace: default
    syncWave: "100"
    source:
      path: argocd/apps/00-infra/service
  
  ollama:
    enabled: true
    namespace: ollama
    syncWave: "110"
    source:
      chart: ollama
      repoURL: https://helm.otwld.com/
      targetRevision: 1.34.0
      helm:
        valueFiles:
          - argocd/apps/03-platform/intelligent-agent/ollama/values.yaml

  openwebui:
    enabled: true
    namespace: ollama
    syncWave: "120"
    source:
      chart: open-webui
      repoURL: https://helm.openwebui.com/
      targetRevision: 8.14.0
      helm:
        valueFiles:
          - argocd/apps/03-platform/intelligent-agent/openwebui/values.yaml
  
  prometheus:
    enabled: true
    namespace: prometheus
    syncWave: "200"
    source:
      chart: prometheus
      repoURL: https://prometheus-community.github.io/helm-charts
      targetRevision: 27.26.0
      helm:
        valueFiles:
          - argocd/apps/04-observability/prometheus/values.yaml
  
  grafana:
    enabled: true
    namespace: prometheus
    syncWave: "210"
    source:
      chart: grafana
      repoURL: https://grafana.github.io/helm-charts
      targetRevision: 10.2.0
      helm:
        valueFiles:
          - argocd/apps/04-observability/grafana/values.yaml


  # # ollama-gpu1:
  # ollama-gpu1:
  #   enabled: true
  #   namespace: ollama  # 두 인스턴스를 같은 네임스페이스에 배포
  #   syncWave: "110"
  #   source:
  #     chart: ollama
  #     repoURL: https://helm.otwld.com/
  #     targetRevision: 0.30.1 
  #     helm:
  #       valueFiles:
  #         # GPU1용 values 파일을 지정
  #         - argocd/apps/03-platform/ollama/values-gpu1.yaml

  # # ollama-gpu2:
  # ollama-gpu2:
  #   enabled: true
  #   namespace: ollama # 같은 네임스페이스에 배포
  #   syncWave: "110" # 동일한 syncWave로 동시에 배포 시도
  #   source:
  #     chart: ollama
  #     repoURL: https://helm.otwld.com/
  #     targetRevision: 0.30.1
  #     helm:
  #       valueFiles:
  #         
  #         - argocd/apps/03-platform/ollama/values-gpu2.yaml
