argo:
  namespace: argocd
  project: default
  server: https://kubernetes.default.svc
  sourceRepo:
    url: https://github.com/SJoon99/SandBox-Infra
    branch: main

applications:
  cluster-config:
    enabled: true
    namespace: default
    syncWave: "-3"
    source:
      path: argocd/apps/00-infra/cluster-config

  # argocd:
  #   enabled: true
  #   namespace: argocd
  #   syncWave: "0"
  #   source:
  #     path: argocd/apps/00-infra/argocd

  # rook-ceph-crds:
  #   enabled: true
  #   namespace: rook-ceph
  #   syncWave: "-1"
  #   source:
  #     path: apps/01-storage/rook-ceph/rook-ceph-crds

  cilium:
    enabled: true
    namespace: kube-system
    syncWave: "1"
    source:
      path: argocd/apps/00-infra/cilium

  gpu-operator:
    enabled: true
    namespace: gpu-operator
    syncWave: "5"
    source:
      chart: gpu-operator
      repoURL: https://helm.ngc.nvidia.com/nvidia
      targetRevision: v25.3.2
      helm:
        parameters:
          - name: operatorNamespace
            value: gpu-operator
        valueFiles:
          - argocd/apps/02-compute/gpu-operator/values.yaml
  
  rook-ceph-operator:
    enabled: true
    namespace: rook-ceph
    syncWave: "10"
    source:
      chart: rook-ceph  
      repoURL: https://charts.rook.io/release
      targetRevision: v1.18.2 
      helm:
        parameters:
          - name: operatorNamespace
            value: rook-ceph
        valueFiles:
          - argocd/apps/01-storage/rook-ceph/rook-ceph-operator/values.yaml
    ignoreDifferences:
      - group: apiextensions.k8s.io
        kind: CustomResourceDefinition
        name: operatorconfigs.csi.ceph.io
        jsonPointers:
          - /metadata/annotations
      - group: apiextensions.k8s.io
        kind: CustomResourceDefinition
        name: drivers.csi.ceph.io
        jsonPointers:
          - /metadata/annotations

  rook-ceph-cluster:
    enabled: true
    namespace: rook-ceph
    syncWave: "15"
    source:
      chart: rook-ceph-cluster  
      repoURL: https://charts.rook.io/release
      targetRevision: v1.18.2
      helm:
        parameters:
          - name: operatorNamespace
            value: rook-ceph
        valueFiles:
          - argocd/apps/01-storage/rook-ceph/rook-ceph-cluster/values.yaml
  
  rook-ceph-resources:
    enabled: true
    namespace: rook-ceph
    syncWave: "20"
    source:
      path: argocd/apps/01-storage/rook-ceph/rook-ceph-resources

  jupyter-gpu:
    enabled: true
    namespace: jupyter
    syncWave: "30"
    source:
      path: argocd/apps/03-platform/jupyter-gpu

  # cert-manager:
  #   enabled: true
  #   namespace: cert-manager
  #   syncWave: "40"
  #   source:
  #     chart: cert-manager
  #     repoURL: oci://quay.io/jetstack/charts
  #     targetRevision: v1.19.1
  #     helm:
  #       valueFiles:
  #         - argocd/apps/00-infra/cert-manager/values.yaml

  cluster-service:
    enabled: true
    namespace: default
    syncWave: "100"
    source:
      path: argocd/apps/00-infra/service

